<% layout('layout/logAndReg') -%>
<% block('title', 'Вход') -%>

<div id="login">
    <h1>Авторизация</h1>
    <div class="wrap">
        <div class="err-for-email"></div>
        <span class="fontawesome-user"></span>
        <input type="text" id="email" placeholder="Логин или email">

        <div class="err-for-password"></div>
        <span class="fontawesome-lock"></span>
        <input type="password" id="password" placeholder="Пароль">

        <input class="submit-button" type="submit" value="Войти">
    </div>
    <p>Нет аккаунта? &nbsp;&nbsp;<a href="registration">Регистрация</a><span class="fontawesome-arrow-right"></span></p>
</div>
<script type="text/javascript" src="/js/ControlHelper.js"></script>
<script type="text/javascript" src="/js/LogOn.js"></script>
