<!DOCTYPE html>
<html>
<head>
    <title> <%=blocks.title%> </title>
    <link rel='stylesheet' href='/css/LogInStyle.css' />
</head>
<body>
<div class="header">
    <div class="yandex-icon"></div>
    <div class="project-name">Тандем</div>
</div>
 <%-body%>
</body>
</html>